@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  margin: 30px;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  color: azure;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 54px;
  color: chartreuse;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 54px;
  color: rgb(188, 233, 25);
}

p{
font-family: 14px  ;
color: rgb(8, 233, 45);
padding: 15px;
background-color: rgb(176, 228, 137);
margin: 0px 15px 150px 30px;
margin-top: 70px;
background-color: aqua;
}

/*article {
    width: 30%;
    height: 250px;
    background-color: blueviolet;
    border-radius: 80px;
}*/

article .parrafo{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: center;


}
.parrafo{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: rgb(249, 139, 5);


}
.mvideo{
     width: 100%;
     height: 100%;
     padding: 5px;


}