body{
    background-color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
.calculadora{
    color: rgb(0, 0, 0);
    text-align: center;
    border-style: dotted;
border-radius: 5px;
border-color: rgb(255, 174, 0);
}  
.contenedor{
background-color: rgba(179, 206, 214, 0.932);
padding: 5%;
width: 20%;  
margin: auto;
border-style: dotted;
border-radius: 55px;
border-color: rgb(255, 174, 0); 
box-shadow:0 0 45px rgb(225, 218, 140)

}
.Buttons{
    background-color: rgba(224, 115, 13, 0.932);
    border-radius: 155px;
    border-style: outset;
    border-bottom-color: rgb(255, 17, 0);
   
    
}
